<h1 class="display-1 d-inline">Cockadoodle-tail!</h1>
<a href="/cocktails/new" class="btn btn-primary d-inline  float-right my-3">New Cocktail</a>


<div class="d-flex flex-wrap justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail[:id]) do %>
      <div class="card my-3" style="width: 18rem;">
        <img src="https://picsum.photos/200/300" class="card-img-top rounded" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text">Some placeholder for the ingredients</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
